.left_side{
    max-width: 632px;
    min-height: 3224px;
    max-height: 6024px;
    margin-top: 31px;
    margin-left: 45px;
    .navigation_main{
        padding-top: 10px;
        position: sticky;
        top: 0; 
        bottom: 0;
        left: 0;
        z-index: 2;
        .navigation{
            margin: 1000px 0 0 0;
            width: 569px;
            height: 57px;
            margin: 0px 0 0px 62px;
            background: #FFFFFF;
            box-shadow: 2px 4px 13px rgba(138, 138, 138, 0.25);
            border-radius: 21px;
            .navigation__text{
                width: 518px;
                height: 57px;
                margin: 0px 0px 0px 51px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                border-radius: 21px;
            }
            .navigation__sticker{
                width: 18px;
                height: 18px;
                margin: -37px 0px 0px 20px;
            }
        }
    }
    .list_of_plants{
        width: 569px;
        height: 1900px;
        margin: 62px 0 0px 62px;
        .list_of_plants__element_plants{
            margin: 36px 0px 0px 0px;
            border-radius: 20px;
            width: 569px;
            height: 216px;
            background-color: #E9F3ED;
            .list_of_plants__left_top_figure{
                width: 195px;
                height: 139px;
                border-radius: 20px 15px 100px 0px;
                background-color: #D7EADD;
            }
            .list_of_plants_text{
                width: 296px;
                height: 101px;
                margin: -100px 0px 0px 212px;
            }
            .list_of_plants__hieght_text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;  
                color: #498553;
            }
            .list_of_plants__small_text{
                display: block;
                margin: 17px 0 0 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #6A6D6C;
            }
            .list_of_plants__sticker_plants{
                position: absolute;
                margin-top: 20px;
                z-index: 1;
            }
            .list_of_plants__stickers{
                width: 150px;
                height: 28px;
                margin: 33px 0px 0px 377px;
            }
            .list_of_plants__sticker{
                width: 28px;
                height: 28px;
                margin: 0px 0px 0px 17px;
            }
        }
    }
}